<h1>All Questions</h1>

<ul class="questions">
	<li>
		<h4>Question
		<div class="pull-right">
			Type | Product | Functions
		</div>
	</li>
	<%= render @questions %>
	<%= link_to new_question_path, id: "new_button" do %>
		<button type="button" class="btn btn-lg btn-success">
			<span class="glyphicon glyphicon-plus"></span>  New
		</button>
	<% end %>
</ul>

<%= will_paginate %>