<style>
	.input-group {
		width: 95%;
	}
</style>

<h1>All Questions</h1>
<div style="text-align: left; margin-right: 20px;">
<%= link_to 'mc_question', id: "new_button" do %>
	<button type="button" class="btn btn-lg btn-success">
		<span class="glyphicon glyphicon-plus"></span>  New Multiple Choice
	</button>
<% end %>
<%= link_to 'tf_question', id: "new_button" do %>
	<button type="button" class="btn btn-lg btn-success">
		<span class="glyphicon glyphicon-plus"></span>  New True/False
	</button>
<% end %>
</div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">
  	<div style="display: inline; text-align: left;">Search Filters</div>  
  	<div class="btn-group pull-right" style="margin-top: -7px;"><button type="button" class="btn btn-success">Reset Search</button></div>
  </div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-lg-6 col-md-6 col-xs-6">
	  	<div class="input-group">
			<input class="form-control" name="search" type="search" placeholder="Question" data-column="0"><br>
		</div>
	  </div>
	  <div class="col-lg-6 col-md-6 col-xs-6">
	    <div class="input-group" style="width: 100%;">
			<input class="form-control selectable" name="search selectable" type="search" placeholder="Search" data-column="all">
			<select class="selectpicker" multiple>
			  <option value="all">All</option>
			  <option value="0">Question</option>
			  <option value="1">Category</option>
			  <option value="2">Type</option>
			  <option value="3">Product</option>
			</select>
		</div>
	  </div>
	</div>
	<div class="row" style="margin-top: 20px;">
	  <div class="col-lg-4 col-md-4 col-xs-4">
	  	<div class="input-group">
			<input class="form-control" name="search" type="search" placeholder="Category" data-column="1"><br>
		</div>
	  </div>
	  <div class="col-lg-4 col-md-4 col-xs-4">
	  	<div class="input-group">
			<input class="form-control" name="search" type="search" placeholder="Type" data-column="2"><br>
		</div>
	  </div>
	  <div class="col-lg-4 col-md-4 col-xs-4">
	  	<div class="input-group">
			<input class="form-control" name="search" type="search" placeholder="Product" data-column="3"><br>
		</div>
	  </div>
	</div>
	
	<div class="row" style="margin-top: 15px;">
        <div id="filter-panel" class="collapse filter-panel">
                <div class="panel-body">
                    <div class="row">
					  <div class="col-lg-4 col-md-4 col-xs-4">
					  	<div class="input-group">
							<input class="form-control" name="search" type="search" placeholder="Section" data-column="4"><br>
						</div>
					  </div>
					  <div class="col-lg-4 col-md-4 col-xs-4">
					  	<div class="input-group">
							<input class="form-control" name="search" type="search" placeholder="Created" data-column="5"><br>
						</div>
					  </div>
					  <div class="col-lg-4 col-md-4 col-xs-4">
					  	<div class="input-group">
							<input class="form-control" name="search" type="search" placeholder="Updated" data-column="6"><br>
						</div>
					  </div>
					</div>
                </div>
        </div>    
        <button type="button" class="btn btn-success" style="margin-left: 15px;" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Advanced Search
        </button>
	</div>
  </div>
</div>
</div> 
<div id="container" style="width:1400px; margin-left: auto; margin-right: auto;">
<table width="100%" class="tablesorter">
  <thead>
  	  <tr>
  	  <th width="40%" data-placeholder="Search">Question</th>
  	  <th width="12%" data-placeholder="Search">Category</th>
      <th width="6%" data-placeholder="Search">Type</th>
	  <th width="9%" data-placeholder="Search">Product</th>
	  <th width="8%" data-placeholder="Search">Section</th>
	  <th width="8%" data-placeholder="Search">Created</th>
	  <th width="8%" data-placeholder="Search">Updated</th>
	  <th width="9%" data-placeholder="Search">Functions</th>
      </tr>
  </thead>

  <tbody>
    <%= render @questions %>
  </tbody>
</table>
</div>

<script>
	$(function()  {
	  	$.extend($.tablesorter.themes.jui, {
		    // change default jQuery uitheme icons - find the full list of icons here: http://jqueryui.com/themeroller/ (hover over them for their name)
		    table      : 'ui-widget ui-widget-content ui-corner-all', // table classes
		    caption    : 'ui-widget-content ui-corner-all',
		    header     : 'ui-widget-header ui-corner-all ui-state-default', // header classes
		    footerRow  : '',
		    footerCells: '',
		    icons      : 'ui-icon', // icon class added to the <i> in the header
		    sortNone   : 'ui-icon-carat-2-n-s',
		    sortAsc    : 'ui-icon-carat-1-n',
		    sortDesc   : 'ui-icon-carat-1-s',
		    active     : 'ui-state-active', // applied when column is sorted
		    hover      : 'ui-state-hover',  // hover class
		    filterRow  : '',
		    even       : 'ui-widget-content', // odd row zebra striping
		    odd        : 'ui-state-default'   // even row zebra striping
		  });
	  		  	
	  	var $table = $("table").tablesorter({
	  		theme: 'jui',
	  		headerTemplate : '{content} {icon}', // needed to add icon for jui theme
	  		widgets: ['uitheme', 'zebra', 'filter'],
	  		
	  		widgetOptions: {
	  			zebra   : ["even", "odd"],
	        	filter_columnFilters : true,
	        	filter_ignoreCase : true,
	        	filter_liveSearch : true,
	        	filter_searchDelay : 300,
	        	filter_reset : 'button.reset',
	       }
	  	});
	  	
		// Target the $('.search') input using built in functioning
		// this binds to the search using "search" and "keyup"
		// Allows using filter_liveSearch or delayed search &
		// pressing escape to cancel the search
		$.tablesorter.filter.bindSearch( $table, $('.form-control') );
		
		// Basic search binding, alternate to the above
		// bind to search - pressing enter and clicking on "x" to clear (Webkit)
		// keyup allows dynamic searching
		/*
		$(".search").bind('search keyup', function (e) {
		  $('table').trigger('search', [ [this.value] ]);
		});
		*/
		
		// Allow changing an input from one column (any column) to another
		$('selectpicker').change(function(){
		// modify the search input data-column value (swap "0" or "all in this demo)
		$('.selectable').attr( 'data-column', $(this).val() );
		// update external search inputs
		$.tablesorter.filter.bindSearch( $table, $('.form-control'), false );
		});
	  	
	  	$("#questions").removeClass('tablesorter tablesorter-jui');
	});
</script>
<script src="/assets/bootstrap-select.js"></script>
<script type="text/javascript">
    $('.selectpicker').selectpicker({
      });
    </script>