<div class="center hero-unit">
	<h1>Grandstream Certification</h1>
	
	<h2>
		This is the home page for Grandstream's Certification App
	</h2>
	
	<%= link_to "Sign In Now!", signin_path, class: "btn btn-large btn-primary" %>
</div>

