<h1>Test Results</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Test</h3>
  </div>
  <div class="panel-body">
    <%= Test.find(@score.test_id).name %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Tester's Name</h3>
  </div>
  <div class="panel-body">
    <%= User.find(@score.user_id).name %>
  </div>
</div>
<% if @score.passed == true %>
<div class="panel panel-success">
<% else %>
<div class="panel panel-warning">
<% end %>
  <div class="panel-heading">
    <h3 class="panel-title">Score</h3>
  </div>
  <div class="panel-body">
  	<% if @score.scores.to_s == '100.0'%>
    	<%= number_to_percentage(@score.scores) %>
    <% else %>
    	<%= number_to_percentage(@score.scores * 100) %>
    <% end %>
  </div>
</div>

